body {
  width:  600px;
  height: 900px;
  padding: 10px;
}
button {
  outline: none;
  margin: 10px;
}

.loading {
  visibility: hidden;
}

.loading::before {
  visibility: visible;
  content:  'loading...';
  text-align: center;
}

#content {
  font-size: 1.4em;
  font-family: "MiloTE","MiloTESec",Charter,"Bitstream Charter","Iowan Old Style","Calisto MT",serif;;
}
